<div id="similar-div">

  <div class="form-group row">
    <div class="col-sm-2">
      <select class="custom-select" name="key-type" id="key-type" [(ngModel)]="selectedKeyType" (change)="setKeyType($event.target.value)">
        <option *ngFor="let type of keyTypes" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <select class="custom-select" name="order-type" id="order-type" [(ngModel)]="selectedOrderType" (change)="setOrderType($event.target.value)" [disabled]="!orderKeyEnabled">
        <option *ngFor="let type of orderTypes" [value]="type">{{type}}</option>
      </select>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table id="similar-table" class="table table-dark" *ngIf="items">
        <tbody>
          <tr *ngFor="let item of items | orderBy: OrderKey : reverse | filter:filter; let i = index">
            <td>
              <a href="{{item['image']}}" target="_blank">
                <img src="{{item['image']}}" alt="icon" class="category-cion">
              </a>
            </td>
            <td>
              <a class="title-anchor" role="button" (click)="openTab(item['viewItemURL'])">
                <p class="p-title">{{item['title']}}</p>
              </a>
              <p class="p-price">Price: ${{item['price']}}</p>
              <p class="p-shippingCost">Shipping Cost: ${{item['shippingCost']}}</p>
              <p class="p-daysLeft">Days Left: {{item['daysLeft']}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="!items">
      No Records.
    </div>
  </div>

</div>
