#details-div {
  margin-top: 20px;
}

i {
  display: inline-flex;
  vertical-align: middle;
}

.left {
  float: left;
}

.right {
  float: right;
}

#button-list, #button-facebook, #button-favor {
  /*width: 40px;*/
  /*height: 40px;*/
  /*position: relative;*/
}

img {
  width: 25px;
  height: 25px;
}

.nav-link {
  background-color: white;
  color: black;
}

.nav-pills .nav-link.active {
  background-color: #212428;
  color: white;
}

@media (max-width: 600px) {
  .nav-tabs {
    display: -webkit-inline-box;
    display: -moz-box;
  }
}
