img {
  width: 120px;
  height: 120px;
}

#results-div-table {
  text-align: left;
}

.pagination {
  text-align: center;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

button:hover {
  text-decoration: underline;
}
