img {
  width: 120px;
  height: 120px;
}

#results-div {
  margin-top: 20px;
}

#results-div-table {
  text-align: left;
}

.pagination_buttons {
  margin: 0 auto;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

button:hover {
  text-decoration: underline;
}

.title-div {
  color: dodgerblue;
}

.title-div :hover {
  text-decoration: underline;
}
