<div class="container" id="search-div">
  <div class="jumbotron" id="search_div_jumbotron">
      <form id="search_form" (ngSubmit)="onSubmit()" #searchForm=ngForm>
        <h2>Product Search</h2>

        <!-- keyword -->
        <div class="form-group row">
           <label for="keyword" class="col-sm-3 col-form-label">Keyword<span class="required">*</span></label>
          <div class="col-sm-6">
            <input [ngClass]="{'form-control': true, 'is-invalid': keyword.invalid && (keyword.dirty || keyword.touched)}" type="text"
                   name="keyword" id="keyword" placeholder="Enter Product Name (eg. iPhone 8)" required checkWhitespace
                   [(ngModel)]="form.keyword" #keyword="ngModel">
            <div class="invalid-feedback">Please enter a keyword.</div>
          </div>
        </div>

        <!-- category -->
        <div class="form-group row">
          <div class="col-sm-3">Category</div>
          <!-- <label for="category" class="col-sm-3 col-form-label">Category</label> -->
          <div class="col-sm-3">
            <select class="custom-select" name="category" id="category" [(ngModel)]="form.category" #category="ngModel">
              <option *ngFor="let type of searchTypes" [value]="type|capToVar">{{type}}</option>
            </select>
          </div>
        </div>

        <!-- condition -->
        <div class="form-group row">
          <div class="col-sm-3">Condition</div>
          <!-- <label for="condition" class="col-sm-3 col-form-label">Condition</label> -->
          <div class="col-sm-9">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="condition_new" id="condition_new" [(ngModel)]="form.condition_new">
              <label class="form-check-label" for="new">
                New
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="condition_used" id="condition_used" [(ngModel)]="form.condition_used">
              <label class="form-check-label" for="used">
                Used
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="condition_unspecified" id="condition_unspecified" [(ngModel)]="form.condition_unspecified">
              <label class="form-check-label" for="new">
                Unspecified
              </label>
            </div>
          </div>
        </div>

        <!-- shipping options -->
        <div class="form-group row">
          <div class="col-sm-3">Shipping Options</div>
          <!-- <label for="shipping_options" class="col-sm-2 col-form-label">Shipping Options</label> -->
          <div class="col-sm-9">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="shipping_local" id="shipping_local" [(ngModel)]="form.shipping_local">
              <label class="form-check-label" for="local_pickup">
                Local Pickup
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="shipping_free" id="shipping_free" [(ngModel)]="form.shipping_free">
              <label class="form-check-label" for="free_shipping">
                Free Shipping
              </label>
            </div>
          </div>
        </div>

        <!-- distance -->
        <div class="form-group row">
          <div class="col-sm-3">Distance (Miles)</div>
          <!-- <label for="miles_from" class="col-sm-3 col-form-label">Distance (Miles)</label> -->
          <div class="col-sm-3">
            <input type="text" class="form-control" id="distance" placeholder="10" value="10" name="distance" [(ngModel)]="form.distance">
          </div>
        </div>

        <!-- from -->
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-3 pt-0">From<span class="required">*</span></legend>
            <div class="col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="zipcode_custom" id="radio_here" value="here" checked [value]="false" [(ngModel)]="form.zipcodeCustom">
                <label class="form-check-label" for="label_here">
                  Current Location
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="zipcode_custom" id="radio_zipcode" value="custom" [value]="true" [(ngModel)]="form.zipcodeCustom">
                <label class="form-check-label" for="label_zipcode">
                  Other. Please specify zip code:
                </label>
              </div>
<!--              <input type="text" class="form-control" id="user_zipcode" name="user_zipcode" [(ngModel)]="form.userZipcode">-->
                <input [ngClass]="{'form-control': true, 'is-invalid': location.invalid && (location.dirty || location.touched)}" type="text"
                       id="user_zipcode" name="user_zipcode" required checkZipcode [disabled]="!form.zipcodeCustom"  [(ngModel)]="form.userZipcode"
                       #location="ngModel">
                <div class="invalid-feedback">Please enter a zip code</div>
            </div>
          </div>
        </fieldset>
        <!-- buttons -->
        <div class="form-group row" id="buttons">
          <div class="col-sm-9">
            <button type="submit" class="btn btn-primary" id="button_search" [disabled]="!gotZipcode || searchForm.invalid"><i class="material-icons md-48">search</i>Search</button>
            <button type="reset" class="btn btn-outline-secondary" id="button_clear" (click)="clear()"><i class="material-icons md-48">clear_all</i>Clear</button>
          </div>
        </div>
      </form>
  </div>
</div>
