.container {
  text-align: center;
}

button {
  margin-right: 30px;
  background-color: #000000;
  border-color: #ffffff;
  color: #ffffff;
  width: 110px;
  font-size: 18px;
}

button:hover {
  background-color: rgb(220,220,220);
  border-color: rgb(220,220,220);
  color: #000000;
}
