.container {
  text-align: center;
}

button {
  margin-right: 30px;
  width: 110px;
  font-size: 18px;
}

/*button:hover {*/
/*  background-color: rgb(220,220,220);*/
/*  border-color: rgb(220,220,220);*/
/*  color: #000000;*/
/*}*/

#slide-container {
  width: 100%;
  /* display: flex; */
  /* right: 0; */
  position: absolute;
  overflow: hidden;
}

@media (max-width: 600px) {
  #slide-container {
    width: 100%;
    /* display: flex; */
    right: 0;
    position: absolute;
    overflow: hidden;
  }
}

.slide-div {
  flex: 1;
  position: relative;
}

.hide {
  display: none;
}

.show {
  display: block;
}
